{% block _order_review_payment_methods_novalnet_credit_card_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_sepa_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_invoice_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_prepayment_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_cashpayment_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_paypal_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_banktransfer_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_ideal_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_wechatpay_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_alipay_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_trustly_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_onlinebanktransfer_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_guaranteed_sepa_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_guaranteed_invoice_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_giropay_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_eps_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_przelewy_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_postfinance_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_postfinance_card_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_multibanco_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_bancontact_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_instalment_invoice_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}
{% block _order_review_payment_methods_novalnet_instalment_sepa_widget -%}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="novalnet/js/app/components/novalnet-payment-order-submit-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{%- endblock %}


